.d-flex{
    display: flex;
}

.jc-sb{
    justify-content: space-between;
}
.primary-btn{
    border-radius: 5px;
    border: 0;
    font-weight: 800;
    font-size: 1rem;
    color: #fff;
    padding: 18px 25px;
    background-color: #FF900E;
    cursor: pointer;
}
nav ul>li{
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
}

.banner-img{
    width: 90%;
    margin: auto;
}

.banner-img img{
    width: 100%;
}